.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: content-box radial-gradient(crimson, skyblue);
}

.thumbnail {
  width: 330px;
  height: auto;
  margin-bottom: 25px;
}
.picture {
  width: 300px;
  height: auto;
  margin-bottom: 25px;
}
