.border {
  background: linear-gradient(145deg, #ffffff, #c7c9cc);
  /* border-radius: 1%; */
  box-shadow: inset 7.51px 7.51px 34px #a8a9ac,
    inset -7.51px -7.51px 34px #ffffff;
    padding: 20px 3px 20px 3px;
    margin-bottom: 30px;
}
